<%- include("header") -%>

<%- include("addinput") -%>

<div class = "subheading" id="twoheadings">
  <button name="mainbtn1" style="color:white;background-color: black;"id="professional" value="professional" class="sub">professional</button>
  <button name="mainbtn2" id="personal" value="personal" class="sub">personal</button>
  
</div>

  <form  class="additem" action="/addprofessional" method="post">
  <input  class ="addplaceholder" type="text" name ="newitem" placeholder="what do you need to do?" >
  <button class="addbtn"type="submit" name="add">ADD</button>
  </form>
<div class="box">
        <% for (let i=0; i<newListItems.length; i++) { %>
          <div class="item">

<!-- ///////////////////////// check box ///////////////////////////////////-->

            <input type="checkbox">
            <div id="title<%=newListItems[i].id%>" class="contents"><p > <%=  newListItems[i].title  %></p></div>

<!-- ///////////////////////// edit box ///////////////////////////////////-->

            <form class="editform" action="/editprofessional" method="post">
              <input type="hidden" name="updatedItemId" value="<%= newListItems[i].id %>">
              <div class="editbox">
              <input class="editinput" id="input<%=newListItems[i].id%>" type="text" name="updatedItemTitle" value="<%= newListItems[i].title %>" autocomplete="off"
                autofocus="true" hidden="true" />
              
              <button id="done<%=newListItems[i].id%>" class="edit" type="submit" hidden>
                <img class="icon" src="/assets/check-solid.svg" alt="tick image">
                </button>
              </div>
            </form>
    
            <button id="edit<%=newListItems[i].id%>" class="edit" onclick="handler('<%=newListItems[i].id%>')">
              <img class="icon" src="/assets/pencil-solid.svg" alt="pencil image">
              </button>


<!-- //////////////////////////// delete btn  ///////////////////////////// -->
            <form class="deletebtnform" action="/deleteprofessional" method="post">
              <button id="delete<%= newListItems[i].id %>" name="deletebtn" class="deletebtn" value="<%= newListItems[i].id %>">Delete</button>
            </form>
          </div>
          <% } %>
</div>

<script>
  function handler(id) {
    document.getElementById("title" + id).setAttribute("hidden", true)
    document.getElementById("edit" + id).setAttribute("hidden", true)
    document.getElementById("delete" + id).setAttribute("hidden", true)
    document.getElementById("done" + id).removeAttribute("hidden")
    document.getElementById("input" + id).removeAttribute("hidden")

  }

</script>




<%- include("footer") -%>